footer {
	@extend .radial-top-background;
	@extend .footer-top-border;
	text-align: center;
	color: #a6a6a7;
	padding-top: 35px;
	height: 127px;
	p:last-child {
		color: #393a3b;
	}
	.footer-info {
	    display: table!important;
	    width: 100%;
	    table-layout: fixed;
	    & span:first-child,
	    & span:nth-child(2),
	    & span:last-child {
	    	display: table-cell;
	    }
	    & span:first-child {
	    	text-align: right;
	    }
	    & span:nth-child(2) {
	    	width: 105px;
	    }
	    & span:last-child {
	    	text-align: left;
	    }
	}
}