nav.navbar.navbar-default {
	margin: 0px;
	color: #bfbfc0;
	border: none;
	background: none;
	.navbar-nav {
		margin: 27px 0px;
		padding-left: 220px;
		& > li {
			& > a,
			& > a.dropdown-toggle {
				font-size: 1.1em;
				color: #c0c1c1;
				line-height: 30px;
				padding: 0px 7px;
			}
		}
		& > .open > a {
			background: none;
		}
		& > li:not(:last-child) {
			border-right: 1px solid #515253;
		}
		.dropdown.languages-select {
			padding: 0px;
			&:focus {
				background: none;
			}
			ul.dropdown-menu {
				background: none;
				border: none;
				position: relative;
				box-shadow: none;
				min-width: 120px;
				margin-bottom: 100px;
				a {
					color: #bfbebd;
					font-size: 1.2em;
					padding-left: 8px;
					&:hover {
						background: none;
						color: #00c0ff;
					}
				}
			}
		}
	}
	.navbar-header {
		position: absolute;
	}
	& > .container .navbar-brand {
		@extend .logo-black-gradient;
		@extend .logo-border;
		position: relative;
		top: 0px;
		width: 220px;
		height: 220px;
		margin-left: 0px;
		margin-right: 10px;
		text-align: center;
		img {
			display: block;
			margin: auto;
		}
	}
}  