nav.navbar.navbar-default {
	margin: 0px;
	color: #bfbfc0;
	border: none;
	background: none;
	.navbar-nav > li:not(:last-child) {
		border-right: 1px solid #515253;
	}
	.navbar-nav {
		margin-top: 27px;
	}
	.navbar-nav > li {
		& > a,
		& > a.dropdown-toggle {
			font-size: 1.1em;
			color: #c0c1c1;
			line-height: 30px;
			padding: 0px 9px;
		}
	}
	& > .container .navbar-brand {
		@extend .logo-black-gradient;
		@extend .logo-border;
		position: relative;
		top: 0px;
		width: 220px;
		height: 220px;
		margin-left: 0px;
		margin-right: 10px;
		text-align: center;
		img {
			display: block;
			margin: auto;
		}
	}
	.dropdown.languages-select {
		width: 5px;
		ul.dropdown-menu {
			background: none;
			border: none;
			position: relative;
		}
	}
}  