.mainpage-block-area {
	.mainpage-block {
		@extend .default-box-shadow;
		position: relative;
		width: 95%;
		position: absolute;
		border-radius: 4px;
		overflow: hidden;
		.image-container {
			max-height: 100px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px; 
			overflow-y: visible;
			img {
				width: 100%
			}
		}
		.text-container {
			padding: 5px 10px;
			background: rgba(12,14,17,1);
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			color: #ababac;
			background: rgba(0,0,0,0.93);
			position: relative;
			z-index: 2;
			h3 {
				margin: 10px 0px;
				font-weight: 300;
			}
			p,
			a {
				display: none;
				max-height: 80px;
				overflow: hidden;
			}
			a {
				margin-bottom: 5px;
				color: #1084af;
				text-align: right;
			}
		}
		&:hover .text-container {
			@extend .default-box-shadow-inset;
			background: #23262a;
		}
		&:hover a,
		&:hover p {
			display: block;
		}
		&:hover h3 {
			color: white;
		}
	}
}