main {
	@extend .gradient-border-line;
	min-height: 200px;
	.mainpage-block-area:first-child {
		padding-left: 0px;
	}
	.mainpage-block-area:last-child {
		padding-right: 0px;
	}
	img {
		width: 100%;
	}
}
.main-content {
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center;
	min-height: 955px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.slider {
	position: absolute;
	top: 0;
	bottom: -60px;
	left: 0;
	right: 0;
	z-index: -1;
	.images {
		height: 100%;
		.slide {
			height: 100%;
			width: 100%;
			position: absolute;
			opacity: 0;
			transition: all 0.5s linear; 
			img {
				height: 100%;
				width: 100%;
			}
		}
		.active-slide {
			opacity: 1;
		}
	}
	.triggers-wrapper {
		display:none;
		position: absolute;
		bottom: -50px;
		width: 100%;
		ul.triggers {
			padding: 0px;
			width: 100%;
			text-align: center;
			vertical-align: middle;
			li {
				display:inline;
				background: white;
				padding: 0px 10px;
				border-radius: 50%;
				margin: 0px 15px;
				cursor: pointer;
			}
			li.active-trigger {
				padding: 5px 15px;
			}
		}
	}
}