main {
	@extend .bottom-black-boxshadow;
	@extend .gradient-border-line;
	min-height: 200px;
	.mainpage-block-area:first-child {
		padding-left: 0px;
	}
	.mainpage-block-area:last-child {
		padding-right: 0px;
	}
	img {
		width: 100%;
	}
}
.main-content {
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center;
	height: 955px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}